body {
    background-image: url("images/stars.png")
}

.crawl {
    width: 100%;
    margin: auto;
    position: relative;
    height: 50px;
    z-index: -1;
}

.content {
    position: absolute;
    top: 1500%;
    width: 100%;
    animation-name: text-crawl;
    animation-duration: 90s;
    animation-fill-mode: backwards;
    animation-iteration-count: infinite;
}

@keyframes text-crawl {
    0% {
        top: 1500%;
    }
    100% {
        top: -4200%;
    }
}

p {
    font-size: 45px;
    color: yellow;
    text-align: center;
}

h3 {
    font-family: arial;
    font-weight: 300;
    color: white;
}

button {
    border-radius: 5px;
    border: collapse;
}

.center {
    text-align: center;
    margin: auto;
}
