body {
    position: relative;
    height: 100%;
    margin: auto;
    background: url(global-images/back.jpg) no-repeat center center fixed;
    background-size: cover;
}
.card-1{
    background-color: rgba(255, 255, 255, .6);
}

.img-full-width{
    width: 100%
}

.content {
    min-height: calc(100vh - 0px);
    background-color: rgba(255, 255, 255, .2);
}
.foot {
    position: absolute;
    background-color: black;
    width: 100%;
    bottom: 0px;
    border-radius: 0px;
    height: 25px;
    color: white;
}