body {
    margin: auto;
    width: 100%;
}

.icon {
    position: absolute;
    top: 8px;
    height: 30px;
}

.float-flag {
    position: relative;
    background-image: url(components/home/images/flag.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 5000px;
}

.float-title {
    position: absolute;
    top: 50px;
    left: 25px;
    color: aliceblue;
}

.overflow {
    height: 400px;
    overflow: hidden;
}

.img-width {
    width: 100%;
}