h1 {
    font-family: baskerville;
    text-align: center
}

h2 {
    font-family: century-gothic;
    text-align: center;
}

#awesomecat {
    float: right;
    max-width: 150px;
    max-height: 150px;
    padding: 20px;
}

.bold {
    font-weight: 600;
}

.italic {
    font-style: italic;
}

p {
    font-family: lucida sans typewriter;
}

.content {
    column-count: 3;
    text-align: justify;
}

.quote {
    font-style: italic;
}
