/*

< 991px width

images and articles become smaller, do not increase in size past 991
searchbar at top disappears
email address bar gets smaller

< 768px width
sidebarmoves to bottom
email address bar goes to 100%
navbar disappears

655px width
instagram images expand height, decrease width
640px
increase width, move to 4 per row
480px
move to 1 per row stacked


*/

.nav {
    padding: 15px;
}

.navbar-header {
    position: absolute;
    top: 0px;
    left: 0px;
}

.head-image {
    position: relative;
    top: 150px;
    background-color: rgba(252, 202, 178, 0.56);
    width: 100%;
    /*image is 100% width at 1466px and 100%height at 1466px. As width decreases, height does too, indicating it is height 95% of an element. as width increases height decreases at a faster ratio*/
}

#subscribe-box {
    background-color: rgba(252, 202, 178, 0.56);
    padding: 100px;
    height: 100%
}

@keyframes slideshow {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.slideshow-1 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 0s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    /*    z-index: 1;*/
}

.slideshow-2 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 5s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    /*    z-index: 2;*/
}

.slideshow-3 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 10s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    /*    z-index: 3;*/
}

.slideshow-4 {
    opacity: 0;
    animation-name: slideshow;
    animation-delay: 15s;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    position: absolute;
    left: 0px;
    top: 0px;
    /*    z-index: 4;*/
}

.search-size {
    width: 150px;
    border-radius: 0px;
}

.max-width {
    width: 100% !important;
}


/*
.dropdown:hover {}
*/
