<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <title>Music Search and Download</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
</head>

<body ng-controller="indexCtrl">
    <nav class="navbar-inverse">
        <ul class="nav nav-pills nav-justified">
            <li role="presentation"><a href="#!/home">Download</a></li>
            <li role="presentation"><a href="#!/video">Preview</a></li>
            <li role="presentation"><a href="#!/lyrics">Lyrics</a></li>
            <li role="presentation"><a href="#!/meta">Metadata</a></li>
        </ul>
    </nav>
<br>

<section class="row">
        <form>
            <div class="col-sm-4 text-center">
                <input class="text" placeholder="Song Name" ng-model="song" required>
            </div>
            <div class="col-sm-4 text-center">
                <input class="text" placeholder="Artist" ng-model="artist" required>
            </div>
            <div class="col-sm-4 text-center">
                <button class="btn btn-danger" ng-click="submitLyrics(song, artist)">Search!</button>
            </div>
        </form>
    </section>
    <br>
    <section class="row">
        <div class="col-sm-12">
            <h2 class="text-center">{{ trackInfo.track_name }}</h2>
            <h4 class="text-center">{{ trackInfo.artist_name }}</h4>
        </div>
    </section>

    <ng-view></ng-view>

    <!--Libraries-->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>

    <!--App-->
    <script src="app.js"></script>

    <!--Services-->
    <script src="services/downloadBySearchService.js"></script>
    <script src="services/lyricsService.js"></script>

</body>

</html>
