.badge-border {
    border: solid 2px black;
    border-radius: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.fill-width {
    width: 100%;
}

.div-spacing {
    border: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.row-border {
    padding-left: 25px;
    padding-right: 25px;
}

.about-border {
    border: solid 2px black;
    height: 120px;
}

.badge-title {
    color: white;
    border-radius: 5px;
    background-color: dimgray;
    padding: 5px;
}

textarea {
    resize: none;
}
