<nav class="navbar-inverse">
    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href ng-click="linkTo('#!/home', '#home', '.otherstuff')">Download</a></li>
        <li role="presentation"><a href ng-click="linkTo('#!/video', '#video', '.otherstuff')">Preview</a></li>
        <li role="presentation"><a href ng-click="linkTo('#!/lyrics', '#lyrics', '.otherstuff')">Lyrics</a></li>
        <li role="presentation"><a href ng-click="linkTo('#!/meta', '#meta', '.otherstuff')">Metadata</a></li>
    </ul>
</nav>
