<div class="container-fluid" ng-controller="aboutCtrl">

    <div class="row">

        <section class="col-xs-12">

            <h1>Why I love Denmark</h1>

            <div class="row">

                <div class="col-xs-4 overflow"><img src="{{ thingsILike.bicycles }}" class="img-width"></div>
                <div class="col-xs-4 overflow"><img src="{{ thingsILike.standardOfLiving }}" class="img-width"></div>
                <div class="col-xs-4 overflow"><img src="{{ thingsILike.pedestrians }}" class="img-width"></div>
                <mike-the-mink ng-mouseover="hide()"></mike-the-mink>

            </div>
            <div class="row">

                <div class="col-xs-4 overflow"><img src="{{ thingsILike.socialMobility }}" class="img-width"></div>
                <div class="col-xs-4 overflow"><img src="{{ thingsILike.architecture }}" class="img-width"></div>
                <div class="col-xs-4 overflow"><img src="{{ thingsILike.happiness }}" class="img-width"></div>

            </div>

        </section>

    </div>

</div>
