<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <title>Promise refresher</title>
</head>

<body ng-controller="mainCtrl">

    <button ng-click="get10(1)">Get first 10</button>
    <br>
    <button ng-click="get10(2)">Get next 10</button>

    <!--libraries-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!--app-->
    <script src="app.js"></script>

    <!--services-->
    <script src="httpService.js"></script>

</body>

</html>
